---
---
<!DOCTYPE html>
<html dir="ltr" lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.3.0/css/fontawesome.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.3.0/css/brands.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.3.0/css/solid.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="combo.css">

  <script defer src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script defer src="site.js"></script>
  <script defer src="//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/js/fontawesome.min.js"></script>

  {% if site.favicon %}
  <link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
  {% if site.touch_icon %}
  <link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
</head>

<body>
  <div id="main">

    <nav style="background-color: #545454;">
      <ul>
        {% for node in site.posts reversed %}
        {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
        <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
        {% endfor %}
      </ul>
    </nav>


    {% for page in site.posts reversed %}
    {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
    <div id="{{id}}" class="section p-{{id}}">
      {% if page.icon %}
      <div class="subtlecircle sectiondivider imaged">
        <img src="{{page.icon}}" alt="section icon" style="color:{{ page.icon_color }};" />
        <h5 class="icon-title">{{ page.title }}</h5>
      </div>
      {% elsif page.fa-icon %}
      <div class="subtlecircle sectiondivider faicon">
        <span class="fa-stack" style="color:{{ page.icon_color }};">
          <i class=" fa-solid fa-circle fa-stack-2x"></i>
          <i class="fa-solid fa-{{ page.fa-icon }} fa-stack-1x"></i>
        </span>
        <h5 class="icon-title" style="color:{{ page.icon_color }};">{{ page.title }}</h5>
      </div>
      {% endif %}
      <div class="container {{ page.style }}">
        {{ page.content }}
      </div>
    </div>
    {% endfor %}


    <div id="footer" class="section text-white">
      <div class="container">
        {% capture foottext %} {% include footer.md %} {% endcapture %}
        {{ foottext | markdownify }}
      </div>
    </div>
  </div>

  {% include analytics.html %}
</body>

</html>