---
---
<!DOCTYPE html>
<html dir="ltr" lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The ROSCon {{ site.roscon_fr_year}} Livestream</title>
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="combo.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.8.0/css/fontawesome.min.css">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
	{% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
</head>
<body>
  <div id="other">
    <nav><ul>
      {% for node in site.posts reversed %}
        {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
        <li><a href="{{ site.baseurl }}/#{{id}}">{{node.title}}</a></li>
      {% endfor %}
    </ul></nav>
    <div id="livestream" class="section p-livestream center">
    <h1>The ROSCon {{ site.roscon_fr_year}} Livestream</h1>
<p>Due to technical difficulties, live streaming will not be available. Archived videos of the presentations will be available on the conference website by October 20.  Video recording and archiving is provided by the support of <span><a href="https://www.ubuntu.com/?utm_campaign=device-fy17-iot-vertical-robotics-event-roscon2018&utm_medium=sponsorlogolink&utm_source=rosconwebsite"><img src="img/ubuntu.svg"  style="height: 100px;"/></a></span></p>
</div>


    <div id="footer" class="section text-white">
      <div class="container">
        {% capture foottext %} {% include footer.md %} {% endcapture %}
        {{ foottext | markdownify }}
      </div>
    </div>
  </div>

{% include analytics.html %}
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
