## Les dates clés
<table style="width:100%;text-align:left;">
  <tr>
    <th></th>
    <th></th>
  </tr>
  <!--
    <tr>
      <td><p style="font-weight:bold;">CFP : Appel à soumissions</p><p>(Conférenciers)</p></td>
      <td><p>📆 {{ site.cfp_date }} </p></td>
    </tr>

    <tr>
      <td><p style="font-weight:bold;">Fermeture des soumissions</p></td>
      <td><p>📆 {{ site.submission_deadline }} </p></td>
    </tr>

    <tr>
      <td><p style="font-weight:bold;">Acceptation des soumissions</p></td>
      <td><p>📆 {{ site.acceptance_date }} </p></td>
    </tr>
    -->
    <tr>
      <td>
        <p style="font-weight:bold;">Ouverture des inscriptions anticipées</p>
      </td>
      <td>
        <p>📆 {{ site.early_registration_start }}</p>
      </td>
    </tr>
  <tr>
    <td>
      <p style="font-weight:bold;">Annonce du programme</p>
      <p>(Auditeurs et conférenciers, sauf sponsors)</p>
    </td>
    <td>
      <p>📆 {{ site.acceptance_date}}</p>
    </td>
  </tr>

  <tr>
    <td>
      <p style="font-weight:bold;">Fermeture des inscriptions anticipées</p>
    </td>
    <td>
      <p>📆 {{ site.early_registration_deadline }}</p>
    </td>
  </tr>

  <tr>
    <td>
      <p style="font-weight:bold;">Fermeture définitive des inscriptions</p>
    </td>
    <td>
      <p>📆 {{ site.late_registration_deadline }}</p>
    </td>
  </tr>

</table>